<%- include("./partials/head.ejs") %> 
<body>
    <main id="welcome-page-main">
        <%- include("./partials/navbar.ejs") %>
        <%- include("./partials/flashMessage.ejs") %>
        <span id="welcome-page-text">Create flashcards with pleasure!</span>
    </main>
</body>
<%- include("./partials/foot.ejs") %> 
</html>